doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Steve Honeck's Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Steve Honeck
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile picture')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Steve 
                        span.text-primary Honeck
                    .subheading.mb-5
                        | Ithaca, NY 14850 · 
                        a(href='tel:330-819-6014') (330) 819-6014 · 
                        a(href='mailto:stevehoneck@gmail.com') stevehoneck@gmail.com
                    p.lead.mb-5
                        | Little personal statement blurb.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/stevehoneck/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/SteveHoneck')
                            i.fab.fa-github
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-DDD0 Mechanical Manufacturing Engineer II
                            .subheading.mb-3 Quality Electrodynamics
                            p
                                | Diagnose the root cause of problems, develope technical solutions, and lead the crossfunctional effort to implement. As a mechanical engineer for the Manufacturing Engineering department, I delivered long term stratigic projects as well as solutions to day-to-day issues on the manufacturing lines. Responsible for process validation, process improvement, and mechanical engineering tasks within the Manufacturing Engineering department. Lean Leader and Project Leader for Surface Mount Technology and Fused Deposition Modeling departments.
                        .flex-shrink-0
                            span.text-primary August 2018 - June 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 R&D Engineer II, R&D Engineer I, R&D Associate Engineer
                            .subheading.mb-3 ConMed Corporation
                            p
                                | Design, development, and project management of new product. As an RD engineer, I brought product from concept to commerciliaztion. Responsible for assessing user needs, writing resulting engineering specifications, devloping prototypes, testing prototypes, and final product acceptance testing. Leader of daily engineering tasks as well as crossfunctional communication and management.   
                        .flex-shrink-0
                            span.text-primary May 2012 - August 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Engineering Co-op
                            .subheading.mb-3 Coltene/Whaledent, Inc.
                            p
                                | Full-time support for Document Control, Product Development, and Manufactuirng departments. Responsible for completion of technical tasks for time sensitive projects and initiatives.
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Nucamp Coding Bootcamp
                            .subheading.mb-3 Certificate of Completion
                            div Full Stack Web and Mobile Development
                            p Description?
                        .flex-shrink-0
                            span.text-primary November 2020 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 The University of Akron Honors College
                            .subheading.mb-3 Bachelor of Science
                            div.mb-2 Biomedical Engineering
                            .subheading.mb-3 Minors
                            div Applied Mathematics
                            div Pre-MBA for non-Business Majors
                            p Description?
                        .flex-shrink-0
                            span.text-primary August 2007 - May 2012

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages, Frameworks, & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-bootstrap
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                    ul.list-inline.dev-icons    
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-yarn
                        li.list-inline-item
                            i.fab.fa-github-square

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | A paragraph about things I enjoy.
                    p.mb-0
                        | Another paragraph about things I enjoy.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Award 1
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Award 2
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - Award 3
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - Award 4
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - Award 5
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - Award 6
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - Award 7

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')

        // Core theme JS
        script(src='js/scripts.js')
