doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Steve Honeck's Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Iconify icons
        script(src='https://code.iconify.design/1/1.0.7/iconify.min.js')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Steve Honeck
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile picture')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests


        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Steve 
                        span.text-primary Honeck
                    .subheading.mb-5
                        | Ithaca, NY 14850 · 
                        a(href='tel:330-819-6014') (330) 819-6014 · 
                        a(href='mailto:stevehoneck@gmail.com') stevehoneck@gmail.com
                    p.lead.mb-5
                        | Full stack web & mobile developer with a proven track record in assessing user needs, developing engineering specifications, leading cross-functional projects, tweaking, testing, and assessing processes and designs as a medical device engineer.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/stevehoneck/' target='blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/SteveHoneck' target='blank')
                            i.fab.fa-github
            
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages, Frameworks, & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item.liAlignment
                            i.fab.fa-js-square
                            .skillsName JavaScript
                        li.list-inline-item.liAlignment
                            i.fab.fa-html5
                            .skillsName HTML5
                        li.list-inline-item.liAlignment
                            i.fab.fa-css3-alt
                            .skillsName CSS3
                    ul.list-inline.dev-icons
                        li.list-inline-item.liAlignment
                            i.fab.fa-bootstrap
                            .skillsName Bootstrap
                        li.list-inline-item.liAlignment
                            i.fab.fa-react
                            .skillsName React
                            .skillsName Reactstrap
                            .skillsName React Native
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='cib:redux' data-inline='false')
                            .skillsName React Redux
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='file-icons:expo' data-inline='false')
                            .skillsName Expo SDK
                        li.list-inline-item.liAlignment
                            i.fab.fa-sass
                            .skillsName Sass
                        li.list-inline-item.liAlignment
                            i.fab.fa-node-js
                            .skillsName NodeJS
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='simple-icons:express' data-inline='false')
                            .skillsName Express
                    ul.list-inline.dev-icons    
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='cib:visual-studio-code' data-inline='false')
                            .skillsName VS Code
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='simple-icons:gnubash' data-inline='false')
                            .skillsName Bash
                        li.list-inline-item.liAlignment
                            i.fab.fa-npm
                            .skillsName NPM
                        li.list-inline-item.liAlignment
                            i.fab.fa-yarn
                            .skillsName Yarn
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='cib:postman' data-inline='false')
                            .skillsName Postman
                        li.list-inline-item.liAlignment
                            span.iconify(data-icon='simple-icons:mongodb' data-inline='false')
                            .skillsName MongoDB
                            .skillsName Mongoose
                        li.list-inline-item.liAlignment
                            i.fab.fa-github-square
                            .skillsName GitHub
            
            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 #[a(href='https://nucampsite.stevehoneck.com' target='blank') Nucamp Site]
                            .subheading.mb-3 Full stack web and mobile application. Users can explore, review, and register for campsites.
                            p
                                | Created throughout the Nucamp Bootcamp course. Front end built with three separate technologies: #[a(href='https://github.com/SteveHoneck/nucampsite' target='blank') Bootstrap,] #[a(href='https://github.com/SteveHoneck/nucampsite-react' target='blank') React,] and #[a(href='https://github.com/SteveHoneck/nucampsite-reactnative' target='blank') React Native.] #[a(href='https://github.com/SteveHoneck/nucampsiteServer' target='blank') Back end] built using NodeJS with Express framework and MongoDB with Mongoose.

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 #[a(href='https://waterdragonrefresh.stevehoneck.com' target='blank') Water Dragon Refresh] 
                            .subheading.mb-3 Website. Allows users to explore information on Water Dragon lizards.
                            p
                                | Inspired by a personal favorite, but dated, website. Built with the intention to practice two separate technologies: #[a(href='https://github.com/SteveHoneck/waterdragonrefresh' target='blank') Bootstrap] and #[a(href='https://github.com/SteveHoneck/waterdragonrefreshreact' target='blank') React.]

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 #[a(href='https://faceoff.stevehoneck.com/ ' target='blank') Face Off]
                            .subheading.mb-3 Browser-based game. Find the missing face.
                            p
                                | Created after a four week Nucamp Bootcamp course on web fundamentals of #[a(href='https://github.com/SteveHoneck/faceoff' target='blank') HTML, JavaScript, and CSS.] Initial DOM manipulation logic was part of the bootcamp culminating exercise. Basic buttons, notifications, animations, and other features added as part of personal exploration.

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Nucamp Coding Bootcamp
                            .subheading.mb-3 Certificate of Completion
                            p
                                | Full Stack Web and Mobile Development
                            p
                                | 26 week coding boot-camp focused on HTML, CSS, and JavaScript fundamentals followed by Full Stack Web + Mobile Development technologies.
                            p 
                                | Course material and projects span the breadth of web and app development through responsive web design with Bootstrap, web development with React (including JavaScript ES6 and React-Redux concepts), mobile development with React Native and Expo SDK, back end with Node.js and Express, and databases and storage with MongoDB. Courses made heavy use of Visual Studio Code development environment, NPM package manager, and Git & GitHub.
                        .flex-shrink-0
                            span.text-primary November 2020 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 The University of Akron Honors College
                            .subheading.mb-3 Bachelor of Science
                            div.mb-4 Biomedical Engineering, Biomechanics
                            .subheading.mb-3 Minors
                            div Applied Mathematics
                            div Pre-MBA for non-Business Majors
                        .flex-shrink-0
                            span.text-primary August 2007 - May 2012

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Mechanical Manufacturing Engineer II
                            .subheading.mb-3 Quality Electrodynamics
                            p
                                | As a mechanical manufacturing engineer, I lead cross-functional teams and delivered long term strategic projects as well as technical solutions to day-to-day issues on the manufacturing lines. Responsible for process validation, process improvement, and mechanical engineering tasks within the Manufacturing Engineering department. Lean Leader and Project Leader for Surface Mount Technology and Fused Deposition Modeling departments.
                        .flex-shrink-0
                            span.text-primary August 2018 - June 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 R&D Engineer II, R&D Engineer I, R&D Associate Engineer
                            .subheading.mb-3 ConMed Corporation
                            p
                                | As an R&D engineer, I brought medical devices from concept to commercialization. Responsible for project management, assessing user needs, writing resulting engineering specifications, developing & testing prototypes, and final product acceptance testing. Leader of daily engineering tasks as well as cross-functional communication and management.   
                        .flex-shrink-0
                            span.text-primary May 2012 - August 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Engineering Co-op
                            .subheading.mb-3 Coltene/Whaledent, Inc.
                            p
                                | Full-time support for Document Control, Product Development, and Manufacturing departments. Responsible for completion of technical tasks for time sensitive projects and initiatives.
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011
            
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | When I'm not learning about coding or putting that knowledge to use by creating exciting and useful applications, I love to be eating exciting and flavorful foods. The more exotic the better! 
                    p.mb-0
                        | I can also be found (or, if I'm doing it right, not found) out in the bush hiking, kayaking, camping, and fishing. Picking a spot on the map, charting a course, and venturing out for a few consecutive days is the ultimate gratification for that burning wanderlust urge!

            hr.m-0

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')

        // Core theme JS
        script(src='js/scripts.js')
