//Added for changing Bootstrap variables
$tooltip-bg:                        $black !default;
$tooltip-opacity:                   .5 !default;
$tooltip-arrow-color:               $tooltip-bg !default;